.login-button {
  /* flex 컨테이너로 만든다:  */
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

.empty-space {
}

.menu-list {
  display: flex;
  justify-content: center;
  /* 점 사라지게 하는 것 */
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.serch-area {
  display: flex;
  align-items: center;
}

.serch-area input {
  /* border: none; */
  border: 1px solid #ccc;
  padding: 5px 10px;
  /* transition: all 0.1s ease;  */
  width: 150px;
}

@keyframes underline-draw {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.serch-area input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-color: black;
  animation: underline-draw 0.2s ease-out;
}

.product-card img {
  width: 100%;
  /* 호버되는중의 효과 확대되어지는 속도 등 */
  transition: all 0.1s ease;
}
/* 호버되면? -> 1.1배확대 */
.product-card img:hover{
  transform: scale(1.1);
}
